{% extends "base.html.twig" %}

{% block title %}Espace Administrateur!{% endblock %}

{% block body %}
<section class="dashboard">
    <div class="container-fluid">
        <div class="row ">
            <div class="col">
                <div class="card text-white bg-primary mb-3 text-center my-5 shadow">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col-4">
                                <i class="fas fa-users fa-3x"></i>
                            </div>
                            <div class="col-8">
                                <h4 class="card-title">
                                    <a href="{{ path('user_index') }}" style="color:white ">{{  users | length }} 
                                    utilisateurs inscrits</a>
                                 </h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card text-white bg-dark mb-3 text-center my-5 shadow">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col-4">
                                <i class="fas  fa-shopping-bag fa-3x"></i>
                            </div>
                            <div class="col-8">
                                <h4 class="card-title"> <strong>{{products | length }}</strong>  Nombres Produits</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card text-white bg-warning mb-3 text-center my-5 shadow">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col-4">
                                <i class="fas fa-shopping-cart fa-3x"></i>
                            </div>
                            <div class="col-8">
                                <h4 class="card-title"> 47 Nombres Commandes</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="alert alert-info">
                    <h2 class="alert-heading my-3">Les 10 produits les  plus chers</h2>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Nom du produit</th>
                                <th>Catégorie</th>
                                <th>Prix</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for product in products %}
                            <tr>
                                <td><a href="{{ path('product_show', {'id': product.id}) }}">{{ product.name}}</a></td>
                                <td>
                                   {{ product.category.label }}
                                </td>
                                <td class="text-center">
                                     {{ product.price }}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col">
                <div class="alert alert-warning">
                    <h2 class="alert-heading my-3">Les derniers produits ajoutés à la boutique</h2>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Nom du produit</th>
                                <th>Catégorie</th>
                                <th>Date</th>
                            </tr>
                        </thead>
                        <tbody>
                             {% for product in lastproducts %} 
                           <tr>
                                <td><a href="{{ path('product_show', {'id': product.id}) }}">{{ product.name}}</a></td>
                                <td>
                                   {{ product.category.label }}
                                </td>
                                <td class="text-center">
                                     {{ product.createdAt | date("d/m/Y") }}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                    
            </div>
        </div>
    </div>
</section>
  

    
{% endblock %}
    
