{% extends 'base.html.twig' %}

{% block title %}
	E-Concept Store - Blog
{% endblock %}

{% block body %}
	<section class="section_fond_orange bg-warning">
		<figure class="photo_fond_orange">
			<img class="img_orange" src="images/img1-orange.jpeg" alt="Photo d'une femme noire avec un foulard bleu et un make-up on fleek" title="Photoshoot d'une femme noire">
		</figure>
	</section>

	<section class="cathegorie article">
		<h1>Articles recents</h1>
		{% for article in articles %}
			<article class="card mb-3 p-4 m-4">
				<h2 class="card-title">{{ article.title }}</h2>
				<small class="metadata">Publier le
					{{ article.createdAt | date('d/m/Y')}}
					a
					{{ article.createdAt | date('H:i')}}
					- Cathegorie: Conseils beauté</small>
				<img class="card-img-top" src="https://via.placeholder.com/350x150" alt="">
				<div class="content card-body">
					{{ article.content | raw }}
					<a href="{{ path('blog_show', {'id': article.id}) }}" class="btn btn-info btn-lg text-black">Lire la suite</a>
				</div>
			</article>
		{% endfor %}

	</section>

{% endblock %}
