{% extends "base.html.twig" %}

{% block body %}
    <main class = "container">
        <div class = "d-flex">
            <div class = "col text-center p-3" ><img src="https://placehold.it/600x500" width="75%" alt="..."></div>
            <div class = "col text-center p-5">
                <h3 class="font-weight-bold">{{ title}}</h3>
                <h4 class="font-weight-bold">{{ product.price }} €</h4>
                <p>{{ product.description | ra}}</p></div>
            <div></div>
        </div>
        <br>
        <hr>
        <br>
        <div class= "container d-flex">
            <div class="col-3">
                <button type="button" class="btn btn-success">Ajouter au panier</button>   
            </div> 
            <div class="col-3">
               
               
            </div>
        </div>
        <br>
        <hr>
        <br>
        <div id="presProduit" class = "d-flex">
            <div class = "col p-5 mt-5">
                <dl class="row">
                    <dt class="col-sm-3">Pays d'origine :</dt>
                    <dd class="col-sm-9">{{ product.origin }}</dd>

                    <dt class="col-sm-3">Exploitation :</dt>
                    <dd class="col-sm-9">Lorem ipsum dolor sit.</dd>

                    <dt class="col-sm-3">Variété :</dt>
                    <dd class="col-sm-9">Etiam porta sem malesuada magna mollis euismod.</dd>

                </dl>
            </div>
            <div class = "col text-center p-1" ><img src="images/plante.jpeg" width="75%" alt="..."></div>
        </div>
        <h5>Histoire du produit :</h5>
        <p>{{product.description | raw}}</p>
        <br>
        <ul class="nav nav-tabs">
            <li class="nav-item btn-warning">
                <a class="nav-link active" data-toggle="tab" href="#ficheTechnique">Fiche technique</a>
            </li>
            <li class="nav-item btn-warning">
                <a class="nav-link" data-toggle="tab" href="#commentaires">Commentaires</a>
            </li>
            <li class="nav-item btn-warning">
                <a class="nav-link" data-toggle="tab" href="#ecrire">Ecrire un commentaire</a>
            </li>
        </ul>
        <div id="myTabContent" class="tab-content p-3">
            <div class="tab-pane fade show active" id="ficheTechnique">
                <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
            </div>
        <div class="tab-pane fade" id="commentaires">
            <div class = "col p-5 mt-5">
                <dl class="row">
                    <dt class="col-sm-3">Pseudo</dt>

                    <dd class="col-sm-3">22/05/2020</dd>
                        
                    <dd class="col-sm-9">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi, excepturi aperiam! Nulla corrupti aperiam provident molestias voluptatem, perferendis repellendus velit deleniti modi dolorem similique, amet debitis magnam dicta laborum temporibus! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate eos libero culpa laudantium nisi beatae sequi rerum vel doloremque voluptatem, hic obcaecati! Vel deleniti dolores sapiente aspernatur repellat tempore corporis.</dd>
                </dl>
            </div>
        </div>
        <div class="tab-pane fade" id="ecrire">
            <div class="form-group row">
                <label for="pseudo" class="col-sm-2 col-form-label">Pseudo</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control-plaintext" id="pseudoUser" placeholder="Votre pseudo">
                </div>
            </div>
            <div class="form-group p-3">
                <label for="exampleTextarea">Votre commentaire :</label>
                <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
            </div>
            <div class="d-grid gap-2 col-6 mx-auto">
               <button type="button" class="btn btn-warning btn-lg btn-block">Ecrire un commentaire !</button>
           </div>   
        </div>
        <hr>
        <h4 class = "text-center m-4">Produits similaires :</h4>
        <hr>
        <div class = "d-flex justify-content-between">
            <img src="https://placehold.it/200x200" class="img-thumbnail" alt="...">
            <img src="https://placehold.it/200x200" class="img-thumbnail" alt="...">
            <img src="https://placehold.it/200x200" class="img-thumbnail" alt="...">
            <img src="https://placehold.it/200x200" class="img-thumbnail" alt="...">
        </div>
        <hr>
    </main>
    
{% endblock %}
{% block footer%}
     <footer>
        <div class = "d-flex justify-content-around">
             <div  style="width: 18rem;">
                <p class="card-text"><small>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet incidunt ea numquam laboriosam! Dolores iusto, rem facilis quasi aut quam quidem placeat illum facere quo quos provident vel veritatis similique!</small></p>
            </div>
            <div  style="width: 18rem;">
                <p class="card-text"><small>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet incidunt ea numquam laboriosam! Dolores iusto, rem facilis quasi aut quam quidem placeat illum facere quo quos provident vel veritatis similique!</small></p>
            </div>
            <div  style="width: 18rem;">
                <p class="card-text"><small>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet incidunt ea numquam laboriosam! Dolores iusto, rem facilis quasi aut quam quidem placeat illum facere quo quos provident vel veritatis similique!</small></p>
            </div>
        </div>
        <br>
        <p><small>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse debitis a, ad nulla molestiae laboriosam aspernatur veritatis quod possimus rerum placeat nisi? Sint atque cupiditate, id eveniet mollitia saepe recusandae? Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat sunt porro nesciunt incidunt consequuntur dolores molestias ab illum, itaque aperiam eius voluptates eligendi quibusdam nemo vitae eveniet quia doloribus ullam?</small></p>
    </footer>
 {% endblock %}
    
