{% extends 'base.html.twig' %}

{% block title %}
	{{title}}
{% endblock %}

{% block stylesheets %}
    <!-- Lien fichier CSS -->
	<link rel="stylesheet" type="text/css" href="{{ asset('css/style_product/style_product.css') }}">
{% endblock %}

{% block body %}  

    <main>
    
    {# header descriptif plus titre de la categorie #}
    <h1 class="titre_page">TOUS NOS PRODUITS</h1>
    <section class="section_fond_rouge">
        <figure class="photo_fond_rouge">
            <img  src="{{ asset('images/mode/women.jpg') }}" alt="Photo de sandales" title="sandales">
        </figure>
	</section>



		<div class="container">
			<div class="row justify-content-around p-2">

				{% for product in products %}
					<div class="col-xl-4 col-lg-4 col-md-8 col-sm-12 m-auto text-center">

						<div class="card bg-light my-5 shadow ">
							<h3 class="card-header">{{product.price}}</h3>
							<img height="350px" class="border border-danger m-2" src="{{product.image}}" alt="Card image">
							<div class="card-body">
								<p class="card-text">{{product.price}}
									€</p>

								<div class="my-3">
									<a href="#" class="card-link">
										{{ product.origin }}
									</a>
								</div>
							</div>
							<div class="card-footer text-muted">
								<a href="{{ path('mode_detail',{'id':product.id})}}">
									<button type="button" class="btn btn-secondary">Ajouter au panier</button>
								</a>
								<a href="{{ path('mode_detail',{'id':product.id})}}">
									<button type="button" class="btn btn-danger">voir +</button>
								</a>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>

		{% endblock %}
