{% extends "base.html.twig" %}

{% block title %}
	Modifier l'article
	{{ article.title }}
{% endblock %}

{% block body %}
	<div class="container">
		<h1>Modifier l'article:</h1>
		<h2>{{ article.title }}</h2>

		{{ form_start(formView) }}

		{{ form_widget(formView) }}

		<button type="sunmit" class="btn btn-info">
			Modifier l'article</button>

		{{ form_end(formView) }}
	</div>

	<br><br>
{% endblock %}
