{% extends "base.html.twig" %}

{% block title %}
	Article:
	{{article.title }}
{% endblock %}

{% block body %}
	<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item">
				<a href="{{ path('blog') }}">Blog</a>
			</li>
			<li class="breadcrumb-item">
				<a href="{{ path('article_blogCategory', { 'blogCategory': article.blogCategory.name, 'slug': article.blogCategory.slug}) }}">{{article.blogCategory.name}}</a>
			</li>
			<li class="breadcrumb-item active" aria-current="page">{{article.title}}</li>
		</ol>
	</nav>

	<div class="container">
		<article class="col-11 justify-content-center">
			<h1>{{ article.title }}
			</h1>
			<br>
			<small class="metadata">Publier le
				{{ article.createdAt | date('d/m/Y')}}
				a
				{{ article.createdAt | date('H:i')}}
				- Cathegorie:
				{{ article.blogCategory.name }}</small>
			<br>
			<div class="content">
				<p>
					{{ article.resume }}
				</p>
				<img class="card-img-top col align-self-center" src="{{ article.image }}" alt="">
				<hr>
				<p>
					{{ article.content | raw }}
				</p>
			</div>
		</article>
		<br>
		<hr>
		<br>
		<h4>Quelques avis sur l'article :</h4>
		<div class = "col p-2 mt-5 card border-info">
            <dl class="row">
                <dt class="col-sm-3">Jeanine</dt>

                <dd class="col-sm-3">22/01/2021</dd>
                        
                <dd class="col-sm-9">Super article ! J'ai appris de nombreuses choses, le contenu est riche et instructif ! </dd>
            </dl>
        </div>
		<br>
		<div class = "col p-2 mt-5 card border-info">
            <dl class="row">
                <dt class="col-sm-3">Thomas</dt>

                <dd class="col-sm-3">31/01/2021</dd>
                        
                <dd class="col-sm-9">Je recommande la partie blog, en effet ma femme et moi avons découvert l'Afrique grâce aux nombreuse rubriques de cette plateforme, une fois la réouverture des frontiéres, nous prendrons notre envol pour un roadtrip africain, et découvrir les richesses que nous réserve ce continent.</dd>
            </dl>
        </div>
		<br>
		<br>
		<br>
		<h4>Laissez-nous votre avis sur cet article :</h4>
		<div class="card text-white bg-info mb-3" style="max-width: 250rem;">
		    <div class="form-group row">
                <label for="pseudo" class="col-sm-2 col-form-label">Votre pseudo :</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control-plaintext" id="pseudoUser" placeholder="Votre pseudo">
                </div>
            </div>
            <div class="form-group p-3 text-info bg-white">
                <label for="exampleTextarea">Votre commentaire :</label>
                <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
            </div>
            <div class="d-grid gap-2 col-6 mx-auto">
               <button type="button" class="btn btn-info btn-lg btn-block">Ecrire un commentaire !</button>
           </div>  
		</div>
	</div>
{% endblock %}
