{% extends "base.html.twig" %}

{% block title %}
	Article:
	{{article.title }}
{% endblock %}

{% block body %}
	<div class="container">
		<article class="col-11 justify-content-center">
			<h1>{{ article.title }}</h1>
			<br>
			<small class="metadata">Publier le
				{{ article.createdAt | date('d/m/Y')}}
				a
				{{ article.createdAt | date('H:i')}}
				- Cathegorie:
				{{ article.blogCategory.name }}</small>
			<br>
			<div class="content">
				<p>
					{{ article.resume }}
				</p>
				<img class="card-img-top col align-self-center" src="{{ article.image }}" alt="">
				<hr>
				<p>
					{{ article.content }}
				</p>
			</div>
		</article>
	</div>

{% endblock %}
